@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}
:root {
  --primary-color: #ffffff;
  --text-color: #000000;
  --accent-color: #007bff;
  --background-color: #f9f9f9;
}

body.dark-mode {
  --primary-color: #1e1e1e;
  --text-color: #f1f1f1;
  --accent-color: #ff9800;
  --background-color: #121212;
}

body {
  background-color: var(--background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}